<section class="section-book">
  <div class="row">
    <div class="book">
      <!-- A rectangle container on the left side so we can put our form-->
      <div class="book__form">

        <div class="u-margin-bottom-medium">
          <h2 class="heading-secondary">
            Start booking now
          </h2>
        </div>

        <form action="#" class="form">
          <div class="form__group">
            <input type="text" id="name" class="form__input" placeholder="Full Name" required>
            <label for="name" class="form__label">Full Name</label>
          </div>

          <div class="form__group">
            <input type="email" id="email" class="form__input" placeholder="Email address" required>
            <label for="email" class="form__label">Email address</label>
          </div>

          <div class="form__radio-group u-margin-bottom-medium">
            <input type="radio" id="small" class="form__radio-input" name="tour-size">
            <label for="small" class="form__radio-label">
              <!-- Styling the radio button-->
              <span class="form__radio-button"></span>
              Small Tour Group
            </label>
          </div>

          <div class="form__radio-group">
            <input type="radio" id="large" class="form__radio-input" name="tour-size">
            <label for="large" class="form__radio-label">
              <!-- Styling the radio button-->
              <span class="form__radio-button"></span>
              Large Tour Group
            </label>
          </div>

          <div class="form__group">
            <button class="btn btn--green" type="submit">Next Step &rarr;</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>
