<section class="section-features">

  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary">
          Explore the world
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, facilis soluta? Soluta no entendere nada.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-compass"></i>
        <h3 class="heading-tertiary">
          Meet nature
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. This is a great Project, I want to finish it.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-map"></i>
        <h3 class="heading-tertiary">
          Find your way
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A test text is what I am using. Loren Sat.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-heart"></i>
        <h3 class="heading-tertiary">
          Live a healthier life
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam consequatur distinctio.
        </p>
      </div>
    </div>
  </div>
</section>
