<footer class="footer">

  <div class="footer__logo-box">

    <picture class="footer__logo">
      <source srcset="assets/img/logo-white.png 1x, assets/img/logo-green-2x.png 2x"
              media="(max-width: 37.5em)">
      <img srcset="assets/img/logo-green-1x.png 1x, assets/img/logo-green-2x.png 2x"
           alt="Full Logo"
           src="assets/img/logo-green-2x.png">
    </picture>

  </div>

  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">

          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Contact Us</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Careers</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Privacy Policy</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by <a href="#" class="footer__link">JESSIE VALLADARES</a> only for <a href="#" class="footer__link">Showing Purposes</a>, no Commercial Purposes are intended.
        In this website, I am Presenting some Advanced CSS and SASS techniques.
        By Jessie Valladares.
        You are 100% allowed to use this website for personal and commercial use.
      </p>
    </div>
  </div>
</footer>
