<footer class="footer">

  <div class="footer__logo-box">
    <img src="../../assets/img/logo-green-2x.png" alt="Full Logo" class="footer__logo">
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">

          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Contact Us</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Careers</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Privacy Policy</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by <a href="#" class="footer__link">JESSIE VALLADARES</a> only for <a href="#" class="footer__link">Showing Purposes</a>, no Commercial Purposes are intended.
        In this website, I am Presenting some Advanced CSS and SASS techniques.
        Copyright &copy; by Jessie Valladares.
        You are 100% allowed to use this website for personal and commercial use, but not to claim it as your own design.
      </p>
    </div>
  </div>
</footer>
