

// Text color
$normal-text: #777;

// Branding colors
$color-primary-light: #7ed56f;
$color-primary-light-transparent: rgba($color-primary-light, 0.8);
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-dark-transparent: rgba($color-primary-dark, 0.8);

// Normal colors
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
