<header class="header"> <!-- Header is a BEM Block-->
  <div class="header__logo-box">
    <img src="assets/img/logo-white.png" alt="Logo" class="header__logo">
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary"> <!-- Header-primary is a BEM Block-->
      <span class="heading-primary--main" @moveFromLeftTrig>Outdoors</span>
      <span class="heading-primary--sub" @moveFromRightTrig>is where life happens</span>
    </h1>
    <a href="#" class="btn btn--white" @moveFromBelowTrig>Discover our tours</a> <!-- btn is a BEM Block-->
  </div>

</header>
