@import '../abstracts/variables';

.btn {
  &:link, &:visited {
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 200ms;
    // For the ::after button
    position: relative;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    // Make the "new button" (see ::after below) to scale and fade out
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  // When clicking element
  &:active {
    // Because of hover, when we click, element goes down a bit, simulating animation click
    transform: translateY(-.1rem);
    // Effect of bringing the button closer to screen when clicking
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
  // Add a "new button" to be animated
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    // Position the new button behind our normal button
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // Transition to :hover::after
    transition: all 400ms;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    // Our own underlining
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 200ms;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
