@import '../abstracts/variables';

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 300ms;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
    // Only Safari, Chrome
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: .7rem;
    margin-left: 2rem;
    display: block;

    transition: all 300ms;
  }
  // Animation when focusing on input
  &__input:placeholder-shown + &__label {
    // We want no label when we are not focusing on the input
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }


  // Display radio side by side
  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    // As is a circle, same height & width
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    // In order for above properties to work, we need a block element
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;
    // Smaller circle
    &::after {
      content: '';
      background-color: $color-primary;
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      // Center the small circle
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 300ms;
    }
  }
  // Select the label and then the span inner circle
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
