<div class="popup" id="popup">
  <div class="popup__content">

    <div class="popup__left">
      <img src="assets/img/nat-8.jpg" alt="Tour Photo" class="popup__img">
      <img src="assets/img/nat-9.jpg" alt="Tour Photo" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">
        Start Booking Now
      </h2>

      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &ndash; Please read terms before booking
      </h3>

      <p class="popup__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus, architecto autem earum explicabo ipsa laboriosam molestias nostrum pariatur
        possimus quaerat quam qui sapiente sit vero, voluptas voluptate voluptatem! Aspernatur, hic.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam dignissimos,
        dolore dolorem doloribus eaque earum facilis fugit iure maxime minima quasi quisquam quod repudiandae
        rerum tempora totam voluptas, voluptatem.
      </p>

      <a href="#" class="btn btn--green">Book Now</a>
    </div>

  </div>
</div>
