/* You can add global styles to this file, and also import other style files */

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import 'variables';

// Reset browser CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Add font related styles here
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $normal-text;
  padding: 30px;
}


