<section class="section-stories">

  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../../../assets/img/video.mp4" type="video/mp4">
      <source src="../../../assets/img/video.webm" type="video/webm">
      <!--This will appear if any of the formats can be played-->
      Your browser is not supported!
    </video>
  </div>

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      We make people genuinely happy
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <!-- HTML Tag when we have an image with a caption -->
      <figure class="story__shape">
        <img src="../../../assets/img/nat-8.jpg" alt="Person on a tour" class="story__img">
        <figcaption class="story__caption">
          Mary Smith
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">
          I had the best week ever with my family
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Consequatur consequuntur laboriosam quibusdam quis repudiandae.
          Accusantium deleniti eveniet incidunt iste, labore molestias mollitia,
          nisi nulla repellat saepe sequi sit, tempora voluptas.
          Labore molestias mollitia, nisi nulla repellat saepe sequi.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="story">
      <!-- HTML Tag when we have an image with a caption -->
      <figure class="story__shape">
        <img src="../../../assets/img/nat-9.jpg" alt="Person on a tour" class="story__img">
        <figcaption class="story__caption">
          Jack Wilson
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">
          Wow, my life is completely different now
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Consequatur consequuntur laboriosam quibusdam quis repudiandae.
          Accusantium deleniti eveniet incidunt iste, labore molestias mollitia,
          nisi nulla repellat saepe sequi sit, tempora voluptas.
          Labore molestias mollitia, nisi nulla repellat saepe sequi.
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text">Read All Stories &rarr;</a>
  </div>
</section>
